
<table class="table-form">
  <thead>
    <thead>
      <tr>
        <th >Despesas e Receitas</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>    
  </thead>
  <tbody>
    <tr>
      <td><label for="total-despesas">Total de Despesa</label></td>
      <td><input type="text" id="total-despesas" name="total-despesas"></td>
      <td><label for="despesas-cartao">Despesas com Cartão:</label></td>
      <td><input type="text" id="despesas-cartao" name="despesas-cartao"></td>
      <td><label for="frete">Frete:</label></td>
      <td><input type="text" id="frete" name="frete"></td>
    </tr>
    <tr>
      <td><label for="comissao">Comissão:</label></td>
      <td><input type="text" id="comissao" name="comissao"></td>
      <td><label for="despesas-nfe">Despesas com NF-e:</label></td>
      <td><input type="text" id="despesas-nfe" name="despesas-nfe"></td>
      <td><label for="icms">ICMS:</label></td>
      <td><input type="text" id="icms" name="icms"></td>
    </tr>
    <tr>
      <td><label for="total-pecas">Total de Peças:</label></td>
      <td><input type="text" id="total-pecas" name="total-pecas"></td>
      <td><label for="total-investimentos">Total de Investimentos:</label></td>
      <td><input type="text" id="total-investimentos" name="total-investimentos"></td>
      <td><label for="custos-pecas">Custos de Peças:</label></td>
      <td><input type="text" id="custos-pecas" name="custos-pecas"></td>
    </tr>
    <tr>
      <td><label for="lucros">Lucros:</label></td>
      <td><input type="text" id="lucros" name="lucros"></td>
      <td><label for="taxa-retorno">Taxa de Retorno:</label></td>
      <td><input type="text" id="taxa-retorno" name="taxa-retorno"></td>
      <td><label for="outros">Outros:</label></td>
      <td><input type="text" id="outros" name="outros"></td>
    </tr>
  </tbody>
</table>
  <!--<tbody>
    <tr>
      <td><label for="total_despesas">Total de Despesas</label></td>
      <td><input type="text" id="total_despesas" name="total_despesas" placeholder="0,00"></td>
    </tr>
    <tr>
      <td><label for="despesas_cartao">Despesas com Cartão</label></td>
      <td><input type="text" id="despesas_cartao" name="despesas_cartao" placeholder="0,00"></td>
    </tr>
    <tr>
      <td><label for="frete">Frete</label></td>
      <td><input type="text" id="frete" name="frete" placeholder="0,00"></td>
    </tr>

    <tr>
      <td><label for="comissao">Comissão</label></td>
      <td><input type="text" id="comissao" name="comissao" placeholder="0,00"></td>
    </tr>
    <tr>
      <td><label for="comissao">Comissão</label></td>
      <td><input type="text" id="comissao" name="comissao" placeholder="0,00"></td>
    </tr>
    <tr>
      <td><label for="despesas-nfe">Despesas com NF-e</label></td>
      <td><input type="text" id="despesas-nfe" name="despesas-nfe" placeholder="0,00"></td>
    </tr>
    <tr>
      <td><label for="icms">ICMS</label></td>
      <td><input type="text" id="icms" name="icms" placeholder="0,00"></td>
    </tr>
    <tr>
      <td><label for="total-pecas">Total de Peças</label></td>
      <td><input type="text" id="total-pecas" name="total-pecas" placeholder="0,00"></td>
    </tr>
    <tr>
      <td><label for="total-investimentos">Total de Investimentos</label></td>
      <td><input type="text" id="total-investimentos" name="total-investimentos" placeholder="0,00"></td>
    </tr>
    <tr>
      <td><label for="custos-pecas">Custos de Peças</label></td>
      <td><input type="text" id="custos-pecas" name="custos-pecas" placeholder="0,00"></td>
    </tr>
    <tr>
      <td><label for="lucros">Lucros</label></td>
      <td><input type="text" id="lucros" name="lucros" placeholder="0,00"></td>
    </tr>
  </tbody>
</table>-->
<button class="salvar">
  Salvar
</button>
<button class="salvar">
  Cancelar
</button>
<button class="salvar">
  Imprimir
</button>
<button class="salvar">
  Compartilhar
</button>