<table class="table-form">
    <thead>
      <tr>
        <th>Dados da O.S</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><label for="modelo">Modelo:</label></td>
        <td><input type="text" id="modelo" name="modelo"></td>
        <td><label for="placa">Placa/Serie:</label></td>
        <td><input type="text" id="placa" name="placa"></td>
        <td><label for="marca">Marca:</label></td>
        <td><input type="text" id="marca" name="marca"></td>
      </tr>
      <tr>
        <td><label for="equipamento">Equipamento:</label></td>
        <td><input type="text" id="equipamento" name="equipamento"></td>
        <td><label for="empresa">Empresa:</label></td>
        <td><input type="text" id="empresa" name="empresa"></td>
        <td><label for="cnpj">CNPJ:</label></td>
        <td><input type="text" id="cnpj" name="cnpj"></td>
      </tr>
    </tbody>
  </table>
  