<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--CSS-->
<link rel="stylesheet" href="app.component.css">


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="../assets/logo.png" alt="Logo" />
  <menu>
    <a href=""><span>Dashboard<span class="bottom"></span></span></a> 
    <a href=""><span>Ordem de Serviços<span class="bottom"></span></span></a>   
    <a href=""><span>Orçamentos<span class="bottom"></span></span></a>
    </menu>
    
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  
  <app-orcamento></app-orcamento>
  <app-despesas-receitas></app-despesas-receitas>

  <!-- Resources -->

  <!-- Next Steps -->

  <!-- Terminal -->

  <!-- Links -->

  <!-- Footer -->
  <footer>

  </footer>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>